@piri:registry=https://pkgs.dev.azure.com/pirimedya/_packaging/Piri.Npm/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/pirimedya/_packaging/Piri.Npm/npm/registry/:username=pirimedya
//pkgs.dev.azure.com/pirimedya/_packaging/Piri.Npm/npm/registry/:_password=Y2JwaXJmMjJ6a2UzbWZieHhxcnRicGpodjJ1dzJjdzVtenVsNjR6dHRramJmeTQ3dGl2YQ==
//pkgs.dev.azure.com/pirimedya/_packaging/Piri.Npm/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/pirimedya/_packaging/Piri.Npm/npm/:username=pirimedya
//pkgs.dev.azure.com/pirimedya/_packaging/Piri.Npm/npm/:_password=Y2JwaXJmMjJ6a2UzbWZieHhxcnRicGpodjJ1dzJjdzVtenVsNjR6dHRramJmeTQ3dGl2YQ==
//pkgs.dev.azure.com/pirimedya/_packaging/Piri.Npm/npm/:email=npm requires email to be set but doesn't use the value
; end auth token